<body>
  <div class="p-grid ">
      <div class="p-col-6" >
        <div>
          <h1>Drink Take-Away</h1>
          <h3>Join our network with your social account</h3>
        </div>
        <!-- <br> -->
        <!-- <center> -->

        <!-- </center> -->
        <!-- <br><br> -->
        <!-- <button src="assets\images\search.svg" (click)="signInWithGoogle()">Accedi con google</button> -->
        <!-- <button src="assets\images\facebook.svg" (click)="signInWithFB()">Accedi con facebook</button> -->
        <!-- <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logOut()">
          <i class="fas fa-sign-out-alt fa-lg"></i> Log out</button> -->

        <div class="input-group">
          <br>
          <div class="button-group-div">
            <input class="button-group" type="image" src="assets\images\search.svg" (click)="signInWithGoogle()"/>
            <input class="button-group" type="image" src="assets\images\facebook.svg" (click)="signInWithFB()"/>
          </div>
          <br>
          <span class="p-float-label">
            <input id="username-input" type="text" pInputText [(ngModel)]="Username">
            <label for="float-input">Username</label>
          </span>
          <br><br>
          <span class="p-float-label">
            <input id="password-input" type="password" pInputText [(ngModel)]="Password">
            <label for="float-input">Password</label>
          </span>
          <br><br>
        </div>
      </div>
      <div class="p-col-6">
        <img src="assets\images\logo1.svg" alt="beers">
      </div>
  </div>
    <app-users-list> </app-users-list>
</body>
